body {
    font-family: Arial, sans-serif;
    background-color: rgb(240, 171, 171);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140vh;
  }
  .mehedi {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .mehedi h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form {
    margin-bottom: 20px;
  }
  
  .form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form input[type="text"],
  .form input[type="email"],
  .form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .form input[type="submit"] {
    background-color: #007bff;
    color: #fdfafa;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form input[type="submit"]:hover {
    background-color: #0056b3;
  }
  .form input[type="reset"]{
    background-color: red;
    color: #fdfafa;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  .form input[type="reset"]:hover {
    background-color: red;
  }